<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Starbucks</title>
</head>
<body>
    <div id="circle"></div>
    <header>
        <div class="logo">
            <a href="#"><img src="/assets/logo.png" alt="logo starbucks"></a>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Menu</a>
                </li>
                <li>
                    <a href="#">What's New</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </header>
    
    <main>
        <div class="text-content">
            <h2>It's not just Coffe <br>It's 
                <span id="text-starbucks">
                    Starbucks
                </span> 
            </h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio fugiat praesentium nemo ullam voluptatum, cupiditate sint! Veritatis atque commodi non maxime hic recusandae beatae quisquam quod voluptas natus? Rerum, minima?
            </p>
            <button id="btn">learn more</button>
        </div>
        <div id="img-content">
            <img class="show-animation" src="/assets/img1.png" alt="Coffe Green">
        </div>
        <div class="sci">
            <ul>
                <li>
                    <a href="#">
                        <img src="/assets/facebook.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/twitter.png" alt="twitter">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/instagram.png" alt="instagram">
                    </a>
                </li>
            </ul>
        </div>
    </main>

    <footer>
        <div class="list-items">
            <ul>
                <li onclick="handleChanges('/assets/img1.png', '#036D43')">
                    <img src="/assets/thumb1.png" alt="Coffe 1">
                </li>
                <li onclick="handleChanges('/assets/img2.png', '#DA6A8C')">
                    <img src="/assets/thumb2.png" alt="Coffe 2">
                </li>
                <li onclick="handleChanges('/assets/img3.png', '#CA4CA5')">
                    <img src="/assets/thumb3.png" alt="Coffe 3">
                </li>
            </ul>
        </div>
    </footer>

    <script>
        let btn = document.getElementById('btn')
        let starbucks = document.getElementById('text-starbucks')
        let img = document.getElementById('img-content').querySelector('img')
        let circle = document.getElementById('circle')

        function handleChanges(image, color){
            img.removeAttribute('class')
            setTimeout(() => {
                btn.style.background = color
                starbucks.style.color = color
                circle.style.background = color
                img.setAttribute('src', image)
                img.classList.add('show-animation')
            }, 50)
        }
    </script>
</body>
</html>